
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 10px;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1rem;
}

.container {
    display: flex;
    margin: 0 auto;
    height: 100vh;

    .words {
        min-height: 50%;
        width: 40%;
        margin: 5rem;

        .name {
            margin-bottom: 2rem;
            padding-bottom: 1rem;
            font-weight: 700;
            font-size: 6rem;
        }

        .about {
            font-size: 2rem;
            font-weight: 400;
            /* font-weight: 200; */
        }

        .listed-skills {
            margin-top: 3rem;
            font-size: 3rem;
            font-weight: 400;
        }

        .print-messages > li{
            margin-top: 1rem;
            font-size: 2rem;
            color: blue;
        }

        .social, 
        .clear {
            /* position: absolute; */
            background-color:greenyellow;
            padding: 1.5rem 4rem;
            display: inline-block;
            margin-top: 2rem;
            bottom: 0;
            border-radius: 5000px;
            font-size: 2.1rem;
            outline: none;
            border: none;

        }


        .clear {
            background-color:white;
            color: grey;
            /* font-size: 1.8rem; */
            /* font-size: 3rem; */
            border: none;
            padding: 1rem;
        }
        
        .social:hover, 
        .clear:hover {
            cursor: pointer;
        }

    }

    .message {
        font-size: 3.1rem;
        /* font-weight: 400; */
        width: 100%;
        padding: 12px 20px;
        margin-top: 5rem;
        border-radius: .75rem;
        outline: none;
        font-family: 'Roboto', sans-serif;
    }

    .photograph {
        width: 70%;
        background-image: url(guy_teaching.jpg);
        background-size: cover;
        opacity: 75%;
    }
}
